/*  RESET GLOBAL STYLES */
* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

/* GLOBAL STYLES */
html {
    font-size: 62.5%;
    font-family: 'Poppins', sans-serif;
    --submit-btn-bg:  hsl(154, 59%, 51%);
    --terms-of-service-span-color: hsl(0, 100%, 74%);
    --offer-bg: hsl(248, 32%, 49%);
    --terms-of-service-color:  hsl(246, 25%, 77%);
    --placeholder-color: hsl(249, 10%, 26%);
}


p {
    font-size:1.6rem;
    color: white;
}

/* MOBILE STYLES */
body {
    display: flex;
    justify-content: center;
    align-items: center;
    background-image: url("images/bg-intro-mobile.png");
    background-color: var(--terms-of-service-span-color);
    height: 100vh; 
}
main {
    width: 85%;
    /* max-width:1200px; */
    height: 90vh; 
    padding: 3rem;
}

h1 {
    font-size: 2.9rem;
    padding: 1rem 2rem;
    margin-left:4rem;
    color: white;
    line-height:1.0;
}

.main-paragraph {
    margin-bottom: 1rem;
    text-align: center;
    line-height:1.6;
    padding:1rem 0;
}

.offer-paragraph {
    background-color: var(--offer-bg);
    padding: 1.5rem;
    text-align: center;
    border-radius: 1rem;
    margin-bottom: 2rem;
    color: white;
    box-shadow: 0px 2px 8px var(--placeholder-color), 0px 3px 9px var(--placeholder-color);
}


form {
    padding: 1rem;
    background-color: white;
    border-radius: 1rem;
    box-shadow: 0px 2px 6px var(--placeholder-color), 0px 3px 15px var(--placeholder-color);
}

input {
    width: 95%;
    margin: 1rem;
    padding:1rem;
    border-radius: 0.5rem;
    border: 1px solid var(--terms-of-service-color);
}

button {
    width: 95%;
    margin:1rem;
    padding: 2rem;
    border-radius: 1rem;
    background-color: var(--submit-btn-bg);
    border:none;
    color: white;
}

.terms-paragraph {
    font-size: 1rem;
    text-align: center;
    padding: 0rem 4rem;
    color: var(--terms-of-service-color);
}

.terms-paragraph span {
    color: var(--terms-of-service-span-color);
}

.input-item {
    position: relative;
}

.fname-error-icon,
.lname-error-icon,
.email-error-icon,
.password-error-icon {
    position: absolute;
    top:25%;
    right:5%;
    visibility:hidden;
}
.fname-error-paragraph,
.lname-error-paragraph,
.email-error-paragraph,
.password-error-paragraph {
    color: var(--terms-of-service-span-color);
    font-size:0.9rem;
    text-align: right;
    font-style: italic;
    margin-right:2rem;
    visibility:hidden;
}

/* DESKTOP STYLES */
@media only screen and (min-width: 1440px) {
    body {
        width: 100vw;
        display: flex; 
        justify-content: center;
        height: 100vh;
        background-image: url("./images/bg-intro-desktop.png");
    }
    main {
        display: flex;
        width: 70%;
        flex-direction: row;
        justify-content: center; 
        align-items: center;
        height: 70vh;
        gap:2rem;
        /* margin: 4rem 0; */
        flex-wrap: wrap;
        /* border: 1px solid white; */
    }
    h1 {
        line-height:1.4;
        font-size: 3.6rem;
    }

    .main-paragraph {
        font-size: 1.8rem;
    }
    .heading-container {
        padding: 3rem;
        /* border:1px solid white; */
        flex: 1 1 18rem;
    }

    .offer-form-container {
        flex: 1 1 18rem;
    }
}