/*  RESET GLOBAL STYLES */
* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

/* GLOBAL STYLES */
html {
    font-size: 62.5%;
    font-family: 'Poppins', sans-serif;
    --submit-btn-bg:  hsl(154, 59%, 51%);
    --terms-of-service-span-color: hsl(0, 100%, 74%);
    --offer-bg: hsl(248, 32%, 49%);
    --terms-of-service-color:  hsl(246, 25%, 77%);
    --placeholder-color: hsl(249, 10%, 26%);
}


p {
    font-size:1.6rem;
    color: white;
}

/* MOBILE STYLES */
body {
    display: flex;
    justify-content: center;
    align-items: center;
    background-image: url("images/bg-intro-mobile.png");
    background-color: var(--terms-of-service-span-color);
    padding:1rem 0;
}
main {
    width: 90%;
    height: 100vh;
    /* margin:1rem 0rem; */
}

h1 {
    font-size: 2.4rem;
    padding: 1rem 4rem ;
    
    text-align: justify;
    color: white;
}

.main-paragraph {
    margin-bottom: 1rem;
    text-align: center;
    line-height:1.6;
    padding:1rem 0;
}

.offer-paragraph {
    background-color: var(--offer-bg);
    padding: 2rem;
    text-align: center;
    border-radius: 1rem;
    margin-bottom: 2rem;
    color: white;
}


form {
    padding: 2rem;
    background-color: white;
    border-radius: 1rem;
}

input {
    width: 95%;
    margin: 1rem;
    padding:1rem;
    border-radius: 0.5rem;
    border: 1px solid var(--placeholder-color);
}

button {
    width: 95%;
    margin:1rem;
    padding: 2rem;
    border-radius: 1rem;
    background-color: var(--submit-btn-bg);
    border:none;
    color: white;
}

.terms-paragraph {
    font-size: 1.3rem;
    text-align: center;
    padding: 0rem 4rem;
    color: var(--terms-of-service-color);
}

.terms-paragraph span {
    color: var(--terms-of-service-span-color);
}

